h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.robots {
	display: flex;
	justify-content: center;  /*added justify-content center*/
}

.head,
.left_arm,
.torso,
.right_arm,
.left_leg,
.right_leg {
	 background-color: #A4C639;
}

.head {
	width: 200px;
	margin: 0 auto;
	height: 150px;
	border-radius: 200px 200px 0 0;
	margin-bottom: 10px;
}

.eyes {
	display: flex;     /*added nowrap to eyes*/
	flex-wrap: nowrap;
}

.head:hover {
	width: 300px; /*Find out how to reverse this animation on mouse out*/
  transition: all 0.7s ease-in-out;
}

.upper_body {
	width: 300px;
	height: 150px;
	transition: all 0.3s ease-in-out;/*added this*/
	display: flex;
}

.upper_body:hover { /*added this*/
	transform: rotate(-10deg);
}

.left_arm, .right_arm {
	width: 40px;
	height: 125px;
	border-radius: 100px;
	transition: all 0.25s ease-in-out;/*added this*/
	transform-origin: top;/*added this*/
}

.right_arm:hover { /*added this*/
	transform: rotate(-20deg);
}

.left_arm:hover {
	transform: rotate(20deg); /*added this*/
}

.left_arm {
	margin-right: 10px;
}

.right_arm {
	margin-left: 10px;
}

.torso {
	width: 200px;
	height: 200px;
	border-radius: 0 0 50px 50px;
}

.lower_body {
	width: 200px;
	height: 200px;
	margin: 0 auto;   /* 0 refers to 0px padding top and bottom*/
	display: flex;		/* auto means the browser chooses a suitable size, so it centres it */
	flex-wrap: nowrap;  /* added nowrap */
}

.left_leg, .right_leg {
	width: 40px;
	height: 120px;
	border-radius: 0 0 100px 100px;
	transform-origin: top;/*added this*/
	transition: all 0.35s ease-in-out;/*added this*/
}

.left_leg {
	margin-left: 45px;
}

.left_leg:hover, .right_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg {
	margin-left: 30px;
}

.left_eye, .right_eye {
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: white;
}

.left_eye {
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative;
	top: 100px;
	left: 40px; /*When position is set to relative, the left property specifies the distance the element's left edge is moved to the right from its normal position.*/
}

.right_eye {
	position: relative;
	top: 100px;
	left: 120px;
}
